.navbar-fixed-bottom{
	color:white;
	font-weight:bolder;
}


nav.navbar-fixed-bottom  a:link    {color:white;margin-top:15px;}
nav.navbar-fixed-bottom  a:visited {color:white;margin-top:15px;}
nav.navbar-fixed-bottom  a:hover   {color:white;margin-top:15px;}
nav.navbar-fixed-bottom  a:active  {color:white;margin-top:15px;}


.sideBar{
	display:block;
	border-right:2px solid grey;
}


.menuReturn{
	float:right;
}

.menuReturnLeft{
	float:right;
	margin-right:20px;
}