.loginForm{
 padding-top:25px;
}

div.loginForm h1 strong{
    font-weight:bold;
}

div.loginForm form{
    border: 1px solid rgba(100,100,100,1);
    padding:10px;
    border-top:2px solid navy;
    text-weight:80;

    width:400px;
}


div.inputStyle > Button[type='submit']{
	width:90%;
	padding:5px;
	color:white;
	font-weight:bolder;
}

.formRowSpacing{
	padding-bottom:10px;
}


div.formRowSpacing > div > input[type='text']{

	outline: 1px solid grey;
}

div.viewTableLayout > div.row{
	padding:10px;
}

/*.inputStyle{
	padding-left:25px; 
	padding-right:5px;
}

div.inputStyle input{
	width:90%;
}

button[type='submit']{
	width:90%;
	background-color: royalblue;
	color:white;
	font-weight:bold;
}

button[type='submit']:hover{
	background-color:navy;
	color:white;
	font-weight:bold;
}

input[type='checkbox']{
	float:left;
	padding-left:0px;
	margin-left:25px;

}*/

/*.formButtonReplog{
	min-width:200px;
	padding:10px;
	background-color:navy;
}*/